<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iPhone1,1</key>
	<dict>
		<key>version</key>
		<real>1.1</real>
		<key>name</key>
		<string>iPhone 2G</string>
	</dict>
	<key>iPhone1,2</key>
	<dict>
		<key>version</key>
		<real>1.2</real>
		<key>name</key>
		<string>iPhone 3G</string>
	</dict>
	<key>iPhone2,1</key>
	<dict>
		<key>version</key>
		<real>2.1</real>
		<key>name</key>
		<string>iPhone 3GS</string>
	</dict>
	<key>iPhone3,1</key>
	<dict>
		<key>version</key>
		<real>3.1</real>
		<key>name</key>
		<string>iPhone 4 (GSM)</string>
	</dict>
	<key>iPhone3,2</key>
	<dict>
		<key>version</key>
		<real>3.2</real>
		<key>name</key>
		<string>iPhone 4 (GSM Rev. A)</string>
	</dict>
	<key>iPhone3,3</key>
	<dict>
		<key>version</key>
		<real>3.3</real>
		<key>name</key>
		<string>iPhone 4 (CDMA)</string>
	</dict>
	<key>iPhone4,1</key>
	<dict>
		<key>version</key>
		<real>4.1</real>
		<key>name</key>
		<string>iPhone 4S</string>
	</dict>
	<key>iPhone5,1</key>
	<dict>
		<key>version</key>
		<real>5.1</real>
		<key>name</key>
		<string>iPhone 5 (GSM)</string>
	</dict>
	<key>iPhone5,2</key>
	<dict>
		<key>version</key>
		<real>5.2</real>
		<key>name</key>
		<string>iPhone 5 (Global)</string>
	</dict>
	<key>iPhone5,3</key>
	<dict>
		<key>version</key>
		<real>5.3</real>
		<key>name</key>
		<string>iPhone 5c (GSM)</string>
	</dict>
	<key>iPhone5,4</key>
	<dict>
		<key>version</key>
		<real>5.4</real>
		<key>name</key>
		<string>iPhone 5c (Global)</string>
	</dict>
	<key>iPhone6,1</key>
	<dict>
		<key>version</key>
		<real>6.1</real>
		<key>name</key>
		<string>iPhone 5s (GSM)</string>
	</dict>
	<key>iPhone6,2</key>
	<dict>
		<key>version</key>
		<real>6.2</real>
		<key>name</key>
		<string>iPhone 5s (Global)</string>
	</dict>
	<key>iPhone7,1</key>
	<dict>
		<key>version</key>
		<real>7.1</real>
		<key>name</key>
		<string>iPhone 6 Plus</string>
	</dict>
	<key>iPhone7,2</key>
	<dict>
		<key>version</key>
		<real>7.2</real>
		<key>name</key>
		<string>iPhone 6</string>
	</dict>
	<key>iPhone8,1</key>
	<dict>
		<key>version</key>
		<real>8.1</real>
		<key>name</key>
		<string>iPhone 6s</string>
	</dict>
	<key>iPhone8,2</key>
	<dict>
		<key>version</key>
		<real>8.199999999999999</real>
		<key>name</key>
		<string>iPhone 6s Plus</string>
	</dict>
	<key>iPhone8,4</key>
	<dict>
		<key>version</key>
		<real>8.4</real>
		<key>name</key>
		<string>iPhone SE</string>
	</dict>
	<key>iPhone9,1</key>
	<dict>
		<key>version</key>
		<real>9.1</real>
		<key>name</key>
		<string>iPhone 7</string>
	</dict>
	<key>iPhone9,2</key>
	<dict>
		<key>version</key>
		<real>9.199999999999999</real>
		<key>name</key>
		<string>iPhone 7 Plus</string>
	</dict>
	<key>iPhone9,3</key>
	<dict>
		<key>version</key>
		<real>9.300000000000001</real>
		<key>name</key>
		<string>iPhone 7</string>
	</dict>
	<key>iPhone9,4</key>
	<dict>
		<key>version</key>
		<real>9.4</real>
		<key>name</key>
		<string>iPhone 7 Plus</string>
	</dict>
	<key>iPhone10,1</key>
	<dict>
		<key>version</key>
		<real>10.1</real>
		<key>name</key>
		<string>iPhone 8</string>
	</dict>
	<key>iPhone10,2</key>
	<dict>
		<key>version</key>
		<real>10.2</real>
		<key>name</key>
		<string>iPhone 8 Plus</string>
	</dict>
	<key>iPhone10,3</key>
	<dict>
		<key>version</key>
		<real>10.3</real>
		<key>name</key>
		<string>iPhone X</string>
	</dict>
	<key>iPhone10,4</key>
	<dict>
		<key>version</key>
		<real>10.4</real>
		<key>name</key>
		<string>iPhone 8</string>
	</dict>
	<key>iPhone10,5</key>
	<dict>
		<key>version</key>
		<real>10.5</real>
		<key>name</key>
		<string>iPhone 8 Plus</string>
	</dict>
	<key>iPhone10,6</key>
	<dict>
		<key>version</key>
		<real>10.6</real>
		<key>name</key>
		<string>iPhone X</string>
	</dict>
	<key>iPhone11,2</key>
	<dict>
		<key>version</key>
		<real>11.2</real>
		<key>name</key>
		<string>iPhone XS</string>
	</dict>
	<key>iPhone11,4</key>
	<dict>
		<key>version</key>
		<real>11.4</real>
		<key>name</key>
		<string>iPhone XS Max</string>
	</dict>
	<key>iPhone11,6</key>
	<dict>
		<key>version</key>
		<real>11.6</real>
		<key>name</key>
		<string>iPhone XS Max China</string>
	</dict>
	<key>iPhone11,8</key>
	<dict>
		<key>version</key>
		<real>11.8</real>
		<key>name</key>
		<string>iPhone XR</string>
	</dict>
	<key>iPod1,1</key>
	<dict>
		<key>version</key>
		<real>1.1</real>
		<key>name</key>
		<string>iPod Touch (1 Gen)</string>
	</dict>
	<key>iPod2,1</key>
	<dict>
		<key>version</key>
		<real>2.1</real>
		<key>name</key>
		<string>iPod Touch (2 Gen)</string>
	</dict>
	<key>iPod3,1</key>
	<dict>
		<key>version</key>
		<real>3.1</real>
		<key>name</key>
		<string>iPod Touch (3 Gen)</string>
	</dict>
	<key>iPod4,1</key>
	<dict>
		<key>version</key>
		<real>4.1</real>
		<key>name</key>
		<string>iPod Touch (4 Gen)</string>
	</dict>
	<key>iPod5,1</key>
	<dict>
		<key>version</key>
		<real>5.1</real>
		<key>name</key>
		<string>iPod Touch (5 Gen)</string>
	</dict>
	<key>iPod7,1</key>
	<dict>
		<key>version</key>
		<real>7.1</real>
		<key>name</key>
		<string>iPod Touch (6 Gen)</string>
	</dict>
	<key>iPad1,1</key>
	<dict>
		<key>version</key>
		<real>1.1</real>
		<key>name</key>
		<string>iPad (WiFi)</string>
	</dict>
	<key>iPad1,2</key>
	<dict>
		<key>version</key>
		<real>1.2</real>
		<key>name</key>
		<string>iPad 3G</string>
	</dict>
	<key>iPad2,1</key>
	<dict>
		<key>version</key>
		<real>2.1</real>
		<key>name</key>
		<string>iPad 2 (WiFi)</string>
	</dict>
	<key>iPad2,2</key>
	<dict>
		<key>version</key>
		<real>2.2</real>
		<key>name</key>
		<string>iPad 2 (GSM)</string>
	</dict>
	<key>iPad2,3</key>
	<dict>
		<key>version</key>
		<real>2.3</real>
		<key>name</key>
		<string>iPad 2 (CDMA)</string>
	</dict>
	<key>iPad2,4</key>
	<dict>
		<key>version</key>
		<real>2.4</real>
		<key>name</key>
		<string>iPad 2 (WiFi Rev. A)</string>
	</dict>
	<key>iPad2,5</key>
	<dict>
		<key>version</key>
		<real>2.5</real>
		<key>name</key>
		<string>iPad Mini (WiFi)</string>
	</dict>
	<key>iPad2,6</key>
	<dict>
		<key>version</key>
		<real>2.6</real>
		<key>name</key>
		<string>iPad Mini (GSM)</string>
	</dict>
	<key>iPad2,7</key>
	<dict>
		<key>version</key>
		<real>2.7</real>
		<key>name</key>
		<string>iPad Mini (CDMA)</string>
	</dict>
	<key>iPad3,1</key>
	<dict>
		<key>version</key>
		<real>3.1</real>
		<key>name</key>
		<string>iPad 3 (WiFi)</string>
	</dict>
	<key>iPad3,2</key>
	<dict>
		<key>version</key>
		<real>3.2</real>
		<key>name</key>
		<string>iPad 3 (CDMA)</string>
	</dict>
	<key>iPad3,3</key>
	<dict>
		<key>version</key>
		<real>3.3</real>
		<key>name</key>
		<string>iPad 3 (Global)</string>
	</dict>
	<key>iPad3,4</key>
	<dict>
		<key>version</key>
		<real>3.4</real>
		<key>name</key>
		<string>iPad 4 (WiFi)</string>
	</dict>
	<key>iPad3,5</key>
	<dict>
		<key>version</key>
		<real>3.5</real>
		<key>name</key>
		<string>iPad 4 (CDMA)</string>
	</dict>
	<key>iPad3,6</key>
	<dict>
		<key>version</key>
		<real>3.6</real>
		<key>name</key>
		<string>iPad 4 (Global)</string>
	</dict>
	<key>iPad4,1</key>
	<dict>
		<key>version</key>
		<real>4.1</real>
		<key>name</key>
		<string>iPad Air (WiFi)</string>
	</dict>
	<key>iPad4,2</key>
	<dict>
		<key>version</key>
		<real>4.2</real>
		<key>name</key>
		<string>iPad Air (WiFi+GSM)</string>
	</dict>
	<key>iPad4,3</key>
	<dict>
		<key>version</key>
		<real>4.3</real>
		<key>name</key>
		<string>iPad Air (WiFi+CDMA)</string>
	</dict>
	<key>iPad4,4</key>
	<dict>
		<key>version</key>
		<real>4.4</real>
		<key>name</key>
		<string>iPad Mini Retina (WiFi)</string>
	</dict>
	<key>iPad4,5</key>
	<dict>
		<key>version</key>
		<real>4.5</real>
		<key>name</key>
		<string>iPad Mini Retina (WiFi+CDMA)</string>
	</dict>
	<key>iPad4,6</key>
	<dict>
		<key>version</key>
		<real>4.6</real>
		<key>name</key>
		<string>iPad Mini Retina (Wi-Fi + Cellular CN)</string>
	</dict>
	<key>iPad4,7</key>
	<dict>
		<key>version</key>
		<real>4.7</real>
		<key>name</key>
		<string>iPad Mini 3 (Wi-Fi)</string>
	</dict>
	<key>iPad4,8</key>
	<dict>
		<key>version</key>
		<real>4.8</real>
		<key>name</key>
		<string>iPad Mini 3 (Wi-Fi + Cellular)</string>
	</dict>
	<key>iPad4,9</key>
	<dict>
		<key>version</key>
		<real>4.9</real>
		<key>name</key>
		<string>iPad mini 3 (Wi-Fi/Cellular, China)</string>
	</dict>
	<key>iPad5,1</key>
	<dict>
		<key>version</key>
		<real>5.1</real>
		<key>name</key>
		<string>iPad mini 4 (Wi-Fi Only)</string>
	</dict>
	<key>iPad5,2</key>
	<dict>
		<key>version</key>
		<real>5.2</real>
		<key>name</key>
		<string>iPad mini 4 (Wi-Fi/Cellular)</string>
	</dict>
	<key>iPad5,3</key>
	<dict>
		<key>version</key>
		<real>5.3</real>
		<key>name</key>
		<string>iPad Air 2 (Wi-Fi)</string>
	</dict>
	<key>iPad5,4</key>
	<dict>
		<key>version</key>
		<real>5.4</real>
		<key>name</key>
		<string>iPad Air 2 (Wi-Fi + Cellular)</string>
	</dict>
	<key>iPad6,3</key>
	<dict>
		<key>version</key>
		<real>6.3</real>
		<key>name</key>
		<string>iPad Pro 9.7-inch (Wi-Fi Only)</string>
	</dict>
	<key>iPad6,4</key>
	<dict>
		<key>version</key>
		<real>6.4</real>
		<key>name</key>
		<string>iPad Pro 9.7-inch (Wi-Fi + Cellular)</string>
	</dict>
	<key>iPad6,7</key>
	<dict>
		<key>version</key>
		<real>6.7</real>
		<key>name</key>
		<string>iPad Pro (Wi-Fi Only)</string>
	</dict>
	<key>iPad6,8</key>
	<dict>
		<key>version</key>
		<real>6.8</real>
		<key>name</key>
		<string>iPad Pro (Wi-Fi/Cellular)</string>
	</dict>
	<key>iPad6,11</key>
	<dict>
		<key>version</key>
		<real>6.11</real>
		<key>name</key>
		<string>9.7-inch iPad (Wi-Fi)</string>
	</dict>
	<key>iPad6,12</key>
	<dict>
		<key>version</key>
		<real>6.12</real>
		<key>name</key>
		<string>9.7-inch iPad (Wi-Fi + Cellular)</string>
	</dict>
	<key>iPad7,1</key>
	<dict>
		<key>version</key>
		<real>7.1</real>
		<key>name</key>
		<string>iPad Pro 12.9-Inch (Wi-Fi Only - 2nd Gen)</string>
	</dict>
	<key>iPad7,2</key>
	<dict>
		<key>version</key>
		<real>7.2</real>
		<key>name</key>
		<string>iPad Pro 12.9-Inch (Wi-Fi/Cell - 2nd Gen)</string>
	</dict>
	<key>iPad7,3</key>
	<dict>
		<key>version</key>
		<real>7.3</real>
		<key>name</key>
		<string>iPad Pro 10.5-Inch (Wi-Fi Only)</string>
	</dict>
	<key>iPad7,4</key>
	<dict>
		<key>version</key>
		<real>7.4</real>
		<key>name</key>
		<string>iPad Pro 10.5-Inch (Wi-Fi/Cellular)</string>
	</dict>
	<key>iPad7,5</key>
	<dict>
		<key>version</key>
		<real>7.5</real>
		<key>name</key>
		<string>iPad 9.7-Inch 6th Gen (Wi-Fi Only)</string>
	</dict>
	<key>iPad7,6</key>
	<dict>
		<key>version</key>
		<real>7.6</real>
		<key>name</key>
		<string>iPad 9.7-Inch 6th Gen (Wi-Fi/Cellular)</string>
	</dict>
	<key>iPad8,1</key>
	<dict>
		<key>version</key>
		<real>8.1</real>
		<key>name</key>
		<string>iPad Pro 11-Inch (Wi-Fi Only)</string>
	</dict>
	<key>iPad8,2</key>
	<dict>
		<key>version</key>
		<real>8.2</real>
		<key>name</key>
		<string>iPad Pro 11-Inch 1TB (Wi-Fi Only)</string>
	</dict>
	<key>iPad8,3</key>
	<dict>
		<key>version</key>
		<real>8.3</real>
		<key>name</key>
		<string>iPad Pro 11-Inch (Wi-Fi/Cellular)</string>
	</dict>
	<key>iPad8,4</key>
	<dict>
		<key>version</key>
		<real>8.4</real>
		<key>name</key>
		<string>iPad Pro 11-Inch 1TB (Wi-Fi/Cellular)</string>
	</dict>
	<key>iPad8,5</key>
	<dict>
		<key>version</key>
		<real>8.5</real>
		<key>name</key>
		<string>iPad Pro 12.9-Inch (Wi-Fi Only - 3rd Gen)</string>
	</dict>
	<key>iPad8,6</key>
	<dict>
		<key>version</key>
		<real>8.6</real>
		<key>name</key>
		<string>iPad Pro 12.9-Inch 1TB (Wi-Fi Only - 3rd Gen)</string>
	</dict>
	<key>iPad8,7</key>
	<dict>
		<key>version</key>
		<real>8.7</real>
		<key>name</key>
		<string>iPad Pro 12.9-Inch (Wi-Fi/Cell - 3rd Gen)</string>
	</dict>
	<key>iPad8,8</key>
	<dict>
		<key>version</key>
		<real>8.8</real>
		<key>name</key>
		<string>iPad Pro 12.9-Inch 1TB (Wi-Fi/Cell - 3rd Gen)</string>
	</dict>
	<key>appleTV1,1</key>
	<dict>
		<key>version</key>
		<real>1.1</real>
		<key>name</key>
		<string>Apple TV 1G</string>
	</dict>
	<key>appleTV2,1</key>
	<dict>
		<key>version</key>
		<real>2.1</real>
		<key>name</key>
		<string>Apple TV 2G</string>
	</dict>
	<key>appleTV3,1</key>
	<dict>
		<key>version</key>
		<real>3.1</real>
		<key>name</key>
		<string>Apple TV 2012</string>
	</dict>
	<key>appleTV3,2</key>
	<dict>
		<key>version</key>
		<real>3.2</real>
		<key>name</key>
		<string>Apple TV 2013</string>
	</dict>
	<key>appleTV5,3</key>
	<dict>
		<key>version</key>
		<string>5,3</string>
		<key>name</key>
		<string>Apple TV 4G</string>
	</dict>
	<key>Watch1,1</key>
	<dict>
		<key>version</key>
		<real>1.1</real>
		<key>name</key>
		<string>Apple Watch (38 mm)</string>
	</dict>
	<key>Watch1,2</key>
	<dict>
		<key>version</key>
		<real>1.2</real>
		<key>name</key>
		<string>Apple Watch (42 mm)</string>
	</dict>
	<key>Watch2,3</key>
	<dict>
		<key>version</key>
		<real>2.3</real>
		<key>name</key>
		<string>Apple Watch Series 2 (38 mm)</string>
	</dict>
	<key>Watch2,4</key>
	<dict>
		<key>version</key>
		<real>2.4</real>
		<key>name</key>
		<string>Apple Watch Series 2 (42 mm)</string>
	</dict>
	<key>Watch2,6</key>
	<dict>
		<key>version</key>
		<real>2.6</real>
		<key>name</key>
		<string>Apple Watch Series 1 (38 mm)</string>
	</dict>
	<key>Watch2,7</key>
	<dict>
		<key>version</key>
		<real>2.7</real>
		<key>name</key>
		<string>Apple Watch Series 1 (42 mm)</string>
	</dict>
	<key>Watch3,1</key>
	<dict>
		<key>version</key>
		<real>3.1</real>
		<key>name</key>
		<string>Apple Watch Series 3 (38 mm/Cellular)</string>
	</dict>
	<key>Watch3,2</key>
	<dict>
		<key>version</key>
		<real>3.2</real>
		<key>name</key>
		<string>Apple Watch Series 3 (42 mm/Cellular)</string>
	</dict>
	<key>Watch3,3</key>
	<dict>
		<key>version</key>
		<real>3.3</real>
		<key>name</key>
		<string>Apple Watch Series 3 (38 mm)</string>
	</dict>
	<key>Watch3,4</key>
	<dict>
		<key>version</key>
		<real>3.4</real>
		<key>name</key>
		<string>Apple Watch Series 3 (42 mm)</string>
	</dict>
	<key>Watch4,1</key>
	<dict>
		<key>version</key>
		<real>4.1</real>
		<key>name</key>
		<string>Apple Watch Series 4 (40 mm)</string>
	</dict>
	<key>Watch4,2</key>
	<dict>
		<key>version</key>
		<real>4.1</real>
		<key>name</key>
		<string>Apple Watch Series 4 (44 mm)</string>
	</dict>
	<key>Watch4,3</key>
	<dict>
		<key>version</key>
		<real>4.1</real>
		<key>name</key>
		<string>Apple Watch Series 4 (40 mm/Cellular)</string>
	</dict>
	<key>Watch4,4</key>
	<dict>
		<key>version</key>
		<real>4.1</real>
		<key>name</key>
		<string>Apple Watch Series 4 (42 mm/Cellular)</string>
	</dict>
	<key>i386</key>
	<dict>
		<key>version</key>
		<integer>-1</integer>
		<key>name</key>
		<string>Simulator</string>
	</dict>
	<key>x86_64</key>
	<dict>
		<key>version</key>
		<integer>-1</integer>
		<key>name</key>
		<string>Simulator</string>
	</dict>
</dict>
</plist>
